.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .custom-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .card-img-top {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 20px auto 10px;
  }
  
  .card-count {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 10px;
  }